/* API Specific styles */

.literal-block {
  margin: 1em 0;
  padding: 0.5em;
  border: 1px dotted #777;
  background-color: #EEE;
  font-size: 0.85em;
  display: block;
  font-family: monospace;
  white-space: pre-wrap;
  overflow: visible;
}

blockquote {
  display: block;
  margin: 15 0 20 40;
  padding: 0;
}

blockquote > * {
  margin-left: 30px;
  font-size: 0.9em;
  font-style: normal;
  font-weight: normal;
}

blockquote p {
  font-size: 0.9em;
  font-style: normal;
  font-weight: normal;
}

table.leftheaders {
  border-collapse: separate;
  border-spacing: 0;
  margin: 5 0 15 5;
}

table.leftheaders tr > td:first-child {
  font-size: 0.9em;
  font-weight: bold;
}

tr td, th {
  padding: 5px;
}

th {
  text-align: left;
  background-color: $gray-lighter;
}
