/* Uncomment these 3 lines to see borders around everything */
// * {
// border: 1px solid red;
// }
@font-face {
  font-family: 'KievitWeb';
  src: url('/e/fonts/KievitWeb.eot'); /* IE9 Compat Modes */
  src: url('/e/fonts/KievitWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('/e/fonts/KievitWeb.woff') format('woff'); /* Modern Browsers */
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: KievitWeb;
  font-size: 15px;
}
a,a:visited, a:active {
  color: #00778a;
  text-decoration: none;
}
a:hover {
  color: #FFC857;
}
a-underline {
  text-decoration: underline;
}
h2 {
  margin: 10px 0px;
}

.background-home { 
  /* Big Background Image */
   background: url(/e/images/shore.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* End CSS for Big Background Image */
}

.box {
  border-radius: 5px;
  /* Background Color on un-linked boxes */
  background-color: #FFFFFF;
  padding: 12px;
  margin: 10px 0px 0px;
}

.box-big-text {
  font-size: 18px;
}
@media (min-width: 32em) {
  .box-big-text {
    font-size: 20px;
  }
}

.box-fixed {
  border-radius: 5px;
  /* Background Color on un-linked boxes */
  background: rgb(255, 255, 255); /* The Fallback (fully opaque) */
  background: rgba(255, 255, 255, 0.35);
  /* opacity: 0.5; */ /* more standard, but makes text hard to read */
  /* background-color: #ffffff8c; */ /* good text, but no background on IE11 */
  padding: 0px 10px;
  margin: 10px 0px 0px;
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-bigger {
  border-radius: 5px;
  /* Background Color on un-linked boxes */
  background: rgb(255, 255, 255); /* The Fallback (fully opaque) */
  background: rgba(255, 255, 255, 0.35);
  /* opacity: 0.5; */ /* more standard, but makes text hard to read */
  /* background-color: #ffffff8c; */ /* good text, but no background on IE11 */
  padding: 12px 12px 12px;
  margin: 10px 0px 0px;
  justify-content: center;
  align-items: center;
}

/* Linked boxes */
.box-linked {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.3em;
  width: 100%;
  font-size: 18px;
  font-family: inherit;
  /* Background Color on linked boxes */
  background-color:  #C0D6DF;
  background-repeat: no-repeat;
  background-position: right center;
}
@media (min-width: 32em) {
  .box-linked {
    height: 3.5em;
  }
}
.box-linked:hover, .box-linked:focus {
  background-color: #FFC857;
}
.box-linked:focus { 
  outline: none;
  border: 1px solid #505050;
}
.box-linked-text {
  display: inline-block;
}

.breadcrumb ul {
  padding: 12px 0 8px 0;
  margin: 0;
}
.breadcrumb ul > li {
  list-style: none;
  display: inline-block;
  margin-bottom: 5px;
}
.breadcrumb ul > li:after {
  padding-left: 1.5em;
  background: url('/e/images/icon_angle-right-black.svg') no-repeat center / contain;
  content: '';
}
.breadcrumb ul > li:last-child:after {
  background: none;
}
.breadcrumb--active {
  font-weight: bold;
}

.center-horiz {
  text-align: center;
}
.container-breadcrumb {
  margin: 0 -8px 10px -8px;
  border-style: double;
  border-color: #C0D6DF white white white;
  background-color: #FFFFFF; 
}
.container-narrowest {
  margin: 0 auto;
  max-width: 800px;
}
.container-widest {
  margin: 0 auto;
  max-width: 900px;
}
.content {
  flex: 1 0 auto;
  margin-bottom: 50px;
}
.ext-link {
  display: inline-block;
  margin-right: 24px;
}
.ext-link:after {
  display: inline-block;
  vertical-align: middle;
  content: ">";
}
.footer {
  flex-shrink: 0;
  background-color: #C0D6DF; 
  min-height: 4em;
}
.header {
  margin-top: -8px;
  padding: 8px 0 6px 0;
  background-color: #FFFFFF; 
}
.header-logo-left {
  margin: 0;
  color: #00778a;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}
@media (min-width: 32em) {
  .header-logo-left {
    font-size: 3.6em;
  }
}
.header-logo-right {
  margin: 0;
  text-align: left;
}
@media (min-width: 32em) {
  .header-logo-right {
    font-size: 1.1em;
  }
}
.header2 {
  font-size: 1.3em;
  font-weight: 600;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list > li {
  padding-bottom: 0.2em;
}
.text-sm {
  font-size: 0.8em;
}
